.popper {
  padding-left: 10px;
  width: 35px;

}
.popper-button {
  margin-left: auto;
  padding-left: 5px;
  margin-right: auto;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition: all 1s;
  background-image: url("/modules/annotate_node/images/submit_comment.png");
  background-position: 50%, 50%;
  padding: 25px;
  background-repeat: no-repeat;
}

.popper-button:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
  transform: rotate(10deg);
}

#popup {
  background-color: #e0f0ff;
  width: 80%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  cursor: pointer;
}

.sentence {
  color: black;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 35px;
}

.commentDate {
  font-size: 10px;
  padding-left: 40px;
}

annotate-node-comment-form {
  width: 100px;
}

#annotate-node-comment-form #edit-title {
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#annotate-node-comment-form #cke_1_contents {
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#annotate-node-comment-form #cke_1_contents:focus {
  background-color: #edfcff;
  border: 2px solid #0b7cb5;
  border-radius: 4px;
}

#annotate-node-comment-form #edit-title:focus {
  background-color: #edfcff;
  border: 2px solid #0b7cb5;
  border-radius: 4px;
}

#edit-submit:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
  transform: scale(1.05);
  font-weight: bold;
}

#edit-comment-format-help-about {
  display: none;
}

/* delete extra spaces */

#edit-comment-format-guidelines {
  display: none;
  height: 0px;
}

.js-form-item form-item js-form-type-select form-type-select js-form-item-comment-format form-item-comment-format {
  display: none;
  height: 0px;
}

.cke_bottom cke_reset_all {
  display: none;
  height: 0px;
}

#cke_1_top {
  height: 30px;
}

.js-form-item-paragraph-number {
  display: none;
}
.js-form-item-title {
  display: none;
}

/* username before the comments*/
/* time submitted the comments*/
.separate-cmt {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  padding-left: 50px;
  background-color: #f8f8f8;
}
